:root {
  --trey-blue: #006069;
  --blue-9: var(--trey-blue);
  --blue-a9: var(--trey-blue);
  --trey-yellow: #ffcc00;
  --white: #ffffff;
  --blue-focus: #4d4aff;
  --trey-greige: #d6d4cb;
}

body {
  background-image: url("https://trey.fi/content/themes/trey/svg/tausta_aalto.svg");
  background-color: var(--trey-blue);
  background-size: cover;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: inherit !important;
  -webkit-text-fill-color: inherit !important;
}
