.survey-body {
    margin: auto;
    width: 80%;
    padding-top: 20px;
}

.survey-question-title {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
}

.question-frame {
    background-color: white;
    padding: 1% 4% 4% 4%;
    border-radius: 10px;
}

.survey-footer {
    padding-top: 10px;
    display: inline-flex;
}

.survey-prev-button {
    margin-right: 2px;
}
