{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "printWidth": 100,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "@/(.*)",
    "theme",
    "primitives",
    "^[pages/]",
    "^[components/]",
    "^[api/]",
    "^[services/]",
    "^[utils/]",
    "^[assets/]",
    "^[models/]",
    "^[./]",
    "^[../]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
